/* //////////// */
@keyframes color-change {
    from {
      color: red;
    }
    to{
      color: yellow;
    }
  }
/* /////////// */
  @keyframes run {
      0% {
            left: 20%;
        }
        50% {
            left: 60%;
        }
        100% {
            left: 20%;
        }
    }
     /* logo animation adjustments */
    .logo {
      position: absolute;
      animation: linear infinite;
      animation-name: run;
      animation-duration: 9s;
    }

.nav-link:hover{
        animation-duration: 0.8s;  
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
  }
/* changing body background color for all pages */
body{
    background-color: black;
}
/* changing nav text white */
.nav-link{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    border-bottom: 3px solid white;
}

.nav-link:active{
    font-size: 15px
}

/* changing heading color
.top{
    background-color: grey;
}
changing footer color
footer{
    background-color: grey;
} */
/* changing h1 color */
h1{
    color: white;
    font-size: 40px;
    justify-content: center;
    padding-right: 120px;
}
#t-div{
    flex-grow: 1;
}
/* changing font color to contact form */
.chosen{
 color: white;
 border: solid 5px white;
 /* margin-top: 15px; */
}
/* setting a grid for the gallery page */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
}
/* wrapping tittle around logo */
.top{
    display: flex;
}
/* Erik The Red text */
.tittle{
    display: flex;
    display: none;
}
/* adjusting width and height of logo */
.logo{
    width: 15%;
    height: 15%;
    position:relative;
    left:40%;
}
/* main banner image */
.slide{
  width: 100%;  
}
/* adjusting nav placement */
nav{
    display: flex;
    justify-content: center;
    font-family: 'Aclonica', sans-serif;
    width: 100%;
}
/* adjusting image dimensions */
#fox-yawn{
    width: 388px;
    grid-column: 1 ;
    grid-row: 1;
}
/* adding hover, scale properties */
#fox-yawn:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#blue-jay{
    width: 388px;
    grid-column: 1;
    grid-row: 2;
}
/* adding hover, scale properties */
#blue-jay:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#pine-martin{
    width: 388px;
    grid-column: 1;
    grid-row: 3;
}
/* adding hover, scale properties */
#pine-martin:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#chick{
    width: 388px;
    grid-column: 1;
    grid-row: 4;
}
/* adding hover, scale properties */
#chick:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#buck{
    width: 388px;
    grid-column: 1;
    grid-row: 5;
}
/* adding hover, scale properties */
#buck:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#fox-laying{
    width: 388px;
    grid-column: 1;
    grid-row: 6;
}
/* adding hover, scale properties */
#fox-laying:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#fox{
    width: 388px;
    grid-column: 1;
    grid-row: 7; 
}
/* adding hover, scale properties */
#fox:hover{
    transform: scale(2);
    transition: 0.5s;
}
/* adjusting image dimensions */
#fox-look{
    width: 388px;
    grid-column: 1;
    grid-row: 8;
}
/* adding hover, scale properties */
#fox-look:hover{
    transform: scale(2);
    transition: 0.5s;
}

/* adjusting image dimensions */
#me{
    width: 216px;
    padding-top: 60px;
}
/* changing font color */
p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/* home page paragraph text */
.home-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* adjusting all image padding on gallery page */
.img{
    padding: 15px 0;
    place-self: center;
}
h2{
    color: white;
}
/* adding an underline to all h2 elements with a main element as a parent */
main h2{
    border-bottom: 2px solid white;
}
/* adjusting form spacing and sizing */
.message{
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
}
#map{
    width:100%;
    height: 350px;
}
/* adding padding to home page text and alignment */
.pad{
    padding: 0px 90px;
    text-align: center;
}
/* adjusting footer sizing */
footer h2{
    padding: 20px;
}
#message{
    margin-bottom: 20px;
}
#button {
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .home-img{
      border: 2px solid tomato;
  }
/* /////////////////////// */
/* ////////Tablet//////// */
/* ///////////////////// */
@media screen and (min-width: 768px) and (max-width: 1024px){

/* .img{
    column-gap:10px;
    row-gap: 10px;
}     */
/* header animation */
@keyframes run {
    0% {
          left: 40%;
      }
      50% {
          left: 60%;
      }
      100% {
          left: 40%;
      }
  }
 /* logo animation adjustments */
  .logo {
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 5s;
  }

/*  make tittle show */
.tittle{
    display: block;
    justify-content: center;
}
/* parent element around form aand map */
.con{
    display:flex;
}
/* setting form width */
.form{
    margin-right: 50px;
    padding-left: 20px;
    width: 30%;
}
.damn{
    width: 50%;
}
/* setting full width of parent */
#map{
    width:100%;
}
/* re-adjusting logo positioning */
.logo{
    position:relative;
    left:0%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}    
    /* adjusting image dimensions */
#fox-yawn{
    width: 350px;
    grid-column: 1 ;
    grid-row: 1;
}
/* adjusting image dimensions */
#blue-jay{
    width: 350px;
    grid-column: 2;
    grid-row: 1;
}
/* adjusting image dimensions */
#pine-martin{
    width: 388px;
    grid-column: 1;
    grid-row: 2;
}
/* adjusting image dimensions */
#chick{
    width: 388px;
    grid-column: 2;
    grid-row: 2;
}
/* adjusting image dimensions */
#buck{
    width: 388px;
    grid-column: 1;
    grid-row: 3;
}
/* adjusting image dimensions */
#fox-laying{
    width: 388px;
    grid-column: 2;
    grid-row: 3;
}
/* adjusting image dimensions */
#fox{
    width: 388px;
    grid-column: 1;
    grid-row: 4; 
}
/* adjusting image dimensions */
#fox-look{
    width: 388px;
    grid-column: 2;
    grid-row: 4;
}
p{
    font-size: 25px;
}
/* changing h2 font sizes */
h2{
    font-size: 25px;
}

}
/* /////////////////////// */
/* ////////Desktop//////// */
/* ///////////////////// */
@media screen and (min-width: 1024px) {

    p{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    /* header animation */
@keyframes run {
    0% {
          left: 40%;
      }
      50% {
          left: 60%;
      }
      100% {
          left: 40%;
      }
  }
  /* logo animation adjustments */
  .logo {
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 5s;
  }

        /*  make tittle show */
    .tittle{
        display: block;
        justify-content: center;
    }
    /* parent element around form aand map */
    .con{
        display:flex;
    }
    /* setting full width of parent */
    #map{
    width:100%;
    }
    /* re-adjusting logo positioning */
    .logo{
        position:relative;
        left:0%;
    }
    /* parent element around form aand map */
.con{
    display:flex;
}
/* setting form width */
.form{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}
.damn{
    width: 50%;
}

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }    
        /* adjusting image dimensions */
    #fox-yawn{
        width: 488px;
        grid-column: 1 ;
        grid-row: 1;
    }
    /* adjusting image dimensions */
    #blue-jay{
        width: 488px;
        grid-column: 2;
        grid-row: 1;
    }
    /* adjusting image dimensions */
    #pine-martin{
        width: 488px;
        grid-column: 3;
        grid-row: 1;
    }
    /* adjusting image dimensions */
    #chick{
        width: 488px;
        grid-column: 1;
        grid-row: 2;
    }
    /* adjusting image dimensions */
    #buck{
        width: 488px;
        grid-column: 2;
        grid-row: 2;
    }
    /* adjusting image dimensions */
    #fox-laying{
        width: 488px;
        grid-column: 3;
        grid-row: 2;
    }
    /* adjusting image dimensions */
    #fox{
        width: 488px;
        grid-column: 1;
        grid-row: 3; 
    }
    /* adjusting image dimensions */
    #fox-look{
        width: 488px;
        grid-column: 2;
        grid-row: 3;
    }
}